<!DOCTYPE html>
<html>
<head>
    <title>{{username}} | DuckBit</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-red.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-custom w3-large" style="z-index:1;">
    <div class="w3-bar-item w3-left">
        <div class="w3-col s4">
            <form id="imageForm" action="/upload_image" method="post" enctype="multipart/form-data">
                <label for="fileInput">
                    <img src="/download_image?username={{username}}" onerror="this.src='/images/admin.jpg'" class="w3-circle w3-margin-right" style="width:46px; cursor: pointer;" />
                </label>
                <input type='file' id='fileInput' name='image' accept=".jpg, .jpeg" style="display: none;" onchange="submitForm()" />
                <input type='hidden' name='username' value="{{username}}"/>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

        </div>
        <div class="w3-col s8 w3-bar" style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-evenly">
            <span style="width: 400px" class="w3-white">Welcome, <strong>{{username}}</strong> at [{{email}}]</span><br>
            <button style="background-color: transparent; border: none; cursor: pointer" onclick='editUser()'><img style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="/images/edit.svg"></button>
            <form action="/edit_user" method="post" enctype="application/x-www-form-urlencoded" style="display: flex; flex-direction: column; align-items: center;">
                <input type="hidden" name="username" value="{{username}}">
                <input id="usernameEdit" type="hidden" name="usernameUpdate" value="{{username}}" required>
                <input id="emailEdit" type="hidden" name="mail" value="{{email}}" required>
                <input id="passwordEdit" type="hidden" name="password" placeholder="New Password:" required>
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <input id="submitEdit" type="hidden" value="Update Values">
            </form>
        </div>
    </div>
    <div style="margin-top: 10px" class="w3-right">
        <a href="/users"><img style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="/images/users.svg"></a>
        <a href="/shop"><img style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="/images/shop.svg"></a>
        <form action="/logout" method="post" style="display: inline;" class="w3-right">
            <input type="image" name="submit_blue" value="blue" alt="blue" style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="/images/logout.svg">
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:70px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><img style="width: 20px" src="/images/dashboard.svg"> My Dashboard</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-third">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><img style="width: 50px" src="/images/users.svg"></i></div>
                <div class="w3-right">
                    <h3>{{registredUsers}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Users</h4>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><img style="width: 50px" src="/images/attack.svg"></div>
                <div class="w3-right">
                    <h3>{{combosCreated}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Combos</h4>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><img style="width: 57px" src="/images/money.svg"></div>
                <div class="w3-right">
                    <h3>{{soldCombos}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Sold Combos</h4>
            </div>
        </div>
    </div>

    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-third" style="height:auto">
                <h5>Upload Leak</h5>
                <form action="/upload_leak" method="post" enctype="multipart/form-data" style="display: flex;justify-content: unset;align-items: center;flex-direction: column;">
                    <p>Name: </p>
                    <input type='text' name='leakName' style="width: 400px" required/>
                    <p>Date: </p>
                    <input type='date' name='leakDate' style="width: 400px" required/>
                    <p>File:</p><input type='file' name='leak' id='leak' accept=".txt" required/>
                    <br>
                    <input type='submit' value='Save Leak'/>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </div>
            <div class="w3-third" style="height:auto">
                <h5 class="editFormHeader">Form Combo</h5>
                <form action="/create_combo" method="post" enctype="multipart/form-data" style="display: flex;justify-content: unset;align-items: center;flex-direction: column;" id="editForm">
                    <p>Name: </p>
                    <input type='text' name='comboName' style="width: 400px" id="name" value="" required/>
                    <p>Price: </p>
                    <input type='number' name='price' style="width: 400px" id="price" value="" required/>
                    <input type='hidden' id="idH" name="id" value=""/>
                    <p>Leaks: </p>
                    <select name="ids" multiple required>
                        {{#leak}}
                        <option style="width: 300px;" value="{{id}}">{{enterprise}}</option>
                        {{/leak}}
                    </select>
                    <br>
                    <p>Description: </p>
                    <div class="form-group">
                        <div style="font-family: 'raleway'" id="editor"></div>
                    </div>
                    <!-- Include the Quill library -->
                    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
                    <br>
                    <input type='submit' value='Save Combo'/>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </div>
            <div class="w3-third" style="height:auto;overflow: auto">
                <h5>All Leaks</h5>
                <table class="w3-table w3-striped w3-white">
                    {{#leak}}
                    <tr>
                        <td>{{enterprise}}</td>
                        <td><button class="w3-button w3-black" onclick='deleteLeak("{{id}}")'>Delete</button></td>
                    </tr>
                    {{/leak}}
                    {{^leak}}
                    <h3>There are no leaks</h3>
                    {{/leak}}
                </table>
                <h5>All Combos</h5>
                <table class="w3-table w3-striped w3-white">
                    {{#combos}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{price}} $</td>
                        <td><button class="w3-button w3-black" onclick='edition("{{id}}","{{name}}","{{price}}","{{description}}")'>Edit</button></td>
                        <td><button class="w3-button w3-black" onclick='deleteCombo("{{id}}")'>Delete</button></td>
                    </tr>
                    {{/combos}}
                    {{^combos}}
                    <h3>There are no combos</h3>
                    {{/combos}}
                </table>
            </div>

    </div>
    <hr>
    <style>
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          float: right;
          background-color: #cf2727;
        }
        </style>
        <button class="button" onclick="sendDeleteRequest()">Delete image</button>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-theme-dark w3-padding-16">
    <h3>DuckBit</h3>
    <p>Previously known as <a href="https://en.wikipedia.org/wiki/Lockbit" target="_blank">LockBit</a></p>
    </footer>

    <!-- End page content -->
</div>

<script>
        var fileInput = document.getElementById('leak');
        fileInput.onchange = function() {
            if(this.files[0].size > 10485760) {
                alert("File is too big to be uploaded!!");
                this.value = "";
            }
        };
    const initialData = {
        description: [
            {
                insert:
                    'Write a brief description of this combo.\n',
            },
        ],
    };

    const quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                [{ list: 'ordered' }, { list: 'bullet' }],
            ],
        },
        theme: 'snow',
    });

    quill.setContents(initialData.description);

    const form = document.getElementById('editForm');
    form.addEventListener('formdata', (event) => {
        // Append Quill content before submitting
        event.formData.append('description', quill.getSemanticHTML());
    });
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }
    function submitForm() {
        document.getElementById("imageForm").submit();
    }

    // Close the sidebar with the close button
    function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
    }
    function edition(id, name, price, description){
        document.querySelector('.editFormHeader').innerText = 'Edition of ' + name;
        document.getElementById('name').setAttribute("value", name);
        document.getElementById('price').setAttribute("value",price);
        document.getElementById('idH').setAttribute("value",id);
        quill.setText(description);
        document.getElementById('editForm').setAttribute("action", "/edit_combo");
    }

    function deleteCombo(id)
    {
        fetch("/delete_combo/"+id, {method: "delete", headers: {'X-CSRF-TOKEN': '{{token}}'}})
            .then(response => {
                location.reload();
            })
    }

        function editUser(){
            if (document.getElementById("usernameEdit").type == "text")
                document.getElementById("usernameEdit").type = "hidden";
            else if (document.getElementById("usernameEdit").type == "hidden")
                document.getElementById("usernameEdit").type = "text";
            if (document.getElementById("emailEdit").type == "text")
                document.getElementById("emailEdit").type = "hidden";
            else if (document.getElementById("emailEdit").type == "hidden")
                document.getElementById("emailEdit").type = "text";
            if (document.getElementById("passwordEdit").type == "password")
                document.getElementById("passwordEdit").type = "hidden";
            else if (document.getElementById("passwordEdit").type == "hidden")
                document.getElementById("passwordEdit").type = "password";
            if (document.getElementById("submitEdit").type == "submit")
                document.getElementById("submitEdit").type = "hidden";
            else if (document.getElementById("submitEdit").type == "hidden")
                document.getElementById("submitEdit").type = "submit";
        }

        function deleteLeak(id)
        {
            fetch("/delete_leak/"+id, {method: "delete", headers: {'X-CSRF-TOKEN': '{{token}}'}})
                .then(response => {
                    location.reload();
                })
        }

    function sendDeleteRequest()
    {
        fetch('/delete_image', {method: "delete", headers: {'X-CSRF-TOKEN': '{{token}}'}})
            .then(response => {
                location.assign("/admin");
            })
    }
</script>

</body>
</html>
