<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error | DuckBit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/w3-theme-red.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body style="background-color: #050E1E">
<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
        <img src="../gifs/error.gif" style="width: 500px; margin-top: 50px">
        <h3 style="font-weight: bold; font-size: 50px">Something goes wrong!!!</h3>
        <br>
        <br>
        <br>
        <br>
    </div>
</header>


<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
    <h3>DuckBit</h3>
    <p>Previously known as <a href="https://en.wikipedia.org/wiki/Lockbit" target="_blank">LockBit</a></p>
</footer>
</body>
</html>