<!DOCTYPE html>
<html>
<head>
    <title>Shop | DuckBit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-red.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.0/purify.min.js"></script>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-custom w3-large" style="z-index:1;">
    <div style="margin-top: 60px" class="w3-right">
    </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">

    <!-- Header -->
    <div class="w3-bar w3-top w3-custom w3-large" style="z-index:1;">
        <div class="w3-bar-item w3-left">
            <div class="w3-col s4">
                <form id="imageForm" action="/upload_image" method="post" enctype="multipart/form-data">
                    <label for="fileInput">
                        <img src="/download_image?username={{username}}" onerror="this.src='/images/admin.jpg'" class="w3-circle w3-margin-right" style="width:46px; cursor: pointer;" />
                    </label>
                    <input type='file' id='fileInput' name='image' accept=".jpg, .jpeg" style="display: none;" onchange="submitForm()" />
                    <input type='hidden' name='username' value="{{username}}"/>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>

            </div>
            <div style="display: flex;align-items: center;flex-direction: row;flex-wrap: wrap" class="w3-col s8 w3-bar">
                <span style="width: 160px" class="w3-white">Welcome, <strong>{{username}}</strong></span><br>
                <h4 style="width:160px;color:white;margin-bottom: 3px; margin-right: 5px">Credits: {{credits}}</h4>
     </div>
        </div>
        <div style="margin-top: 10px" class="w3-right">
            <div style="margin-top: 17px;margin-right: 5px" class="w3-left">
                <form id="queryForm" action="/query" method="get" enctype="multipart/form-data" style="visibility: hidden">
                    <input type="text" name="enterprise" placeholder="Enterprise:">
                    <input type="number" name="price" placeholder="Maximum Price:">
                    <input type="submit" value="Search">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </div>
            <div style="margin-top: 10px" class="w3-right">
                <button style="background-color: transparent; border: none; cursor: pointer" id="btn"><img style="width: 45px; margin-right: 5px;" src="/images/filter.svg"></button>
                <a href="/user"><img style="width: 50px; margin-right: 5px" src="/images/profile.svg"></a>
                <a href="/logout"><img style="width: 50px; margin-right: 5px" src="/images/logout.svg"></a>
            </div>
        </div>
    </div>


    <div class="w3-panel w3-center">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div style="height:600px">
                <h3>Shop</h3>
                <div class="w3-row-padding w3-margin-bottom" style="display: flex; flex-wrap: wrap">
                    {{#combos}}
                    <div class="w3-third">
                        <div style="display: flex;align-items: center;justify-content: center;margin-top: 20px;flex-direction: column;border-radius: 10px;background-color: #050E1E;color: white; height: auto" class="w3-container">
                            <div class="w3-left"><h4>{{name}}: {{price}} $</h4></div>
                            <hr style="width:50%;text-align:left;margin-left:0;margin-top: -6px;margin-bottom: -8px">
                            <div class="w3-right"><h4 id="{{id}}">If you are seeing this is because something goes wron :(</h4></div>
                            <img src onerror='purifier("{{description}}","{{id}}")'>
                            <hr style="width:50%;text-align:left;margin-left:0;margin-top: -6px;margin-bottom: -3px">
                            <div class="w3-right"><h4>This combo contains the following leaks:</h4></div>
                            {{#leaks}}
                            <div class="w3-right" style="margin-top: -10px"><h4>{{enterprise}} {{date}}</h4></div>
                            {{/leaks}}
                            <form action="/buy_combo" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="combo" value="{{id}}">
                                <div class="w3-center"><input style="width: 200px;border-radius: 10px;margin-left: 15px;margin-bottom: 10px" class="w3-button w3-teal" type='submit' value="Buy"/></div>
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                            </form>
                        </div>
                    </div>
                    {{/combos}}
                    {{^combos}}
                    <h4>There are no available combos...</h4>
                    {{/combos}}
                </div>
            </div>
        </div>
        <hr>
    </div>
        <!-- Footer -->
        <footer class="w3-container w3-theme-dark w3-padding-16">
            <h3>DuckBit</h3>
            <p>Previously known as <a href="https://en.wikipedia.org/wiki/Lockbit" target="_blank">LockBit</a></p>
        </footer>
</div>
        <!-- End page content -->

    <script>
        const btn = document.getElementById('btn');

        btn.addEventListener('click', () => {
            const form = document.getElementById('queryForm');

            if (form.style.visibility === 'hidden') {
                form.style.visibility = 'visible';
            } else {
                form.style.visibility = 'hidden';
            }
        });
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }
        function submitForm() {
            document.getElementById("imageForm").submit();
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }

        // Purify
            function purifier(dirty, id) {
                const clean = DOMPurify.sanitize(dirty, {USE_PROFILES: {html: true}});
                document.getElementById(id).innerHTML = clean;
        }
    </script>

</body>
</html>
