<!DOCTYPE html>
<html>
<head>
    <title>All Users | DuckBit</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-red.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-custom w3-large" style="z-index:1;">
    <div class="w3-bar-item w3-left">
        <div class="w3-col s4">
            <form id="imageForm" action="/upload_image" method="post" enctype="multipart/form-data">
                <label for="fileInput">
                    <img src="/download_image?username={{username}}" onerror="this.src='/images/admin.jpg'" class="w3-circle w3-margin-right" style="width:46px; cursor: pointer;" />
                </label>
                <input type='file' id='fileInput' name='image' accept=".jpg, .jpeg" style="display: none;" onchange="submitForm()" />
                <input type='hidden' name='username' value="{{username}}"/>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

        </div>
        <div class="w3-col s8 w3-bar">
            <span style="width: 400px" class="w3-white">Welcome, <strong>{{username}}</strong> at [{{email}}]</span><br>
        </div>

    </div>
    <div style="margin-top: 10px" class="w3-right">
        <a href="/admin"><img style="width: 50px; margin-right: 5px" src="/images/profile.svg"></a>
        <a href="/shop"><img style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="/images/shop.svg"></a>
        <form action="/logout" method="post" style="display: inline;" class="w3-right">
            <input type="image" name="submit_blue" value="blue" alt="blue" style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="/images/logout.svg">
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">


    <div class="w3-panel" style="display: flex; flex-direction: column; align-content: space-around; flex-wrap: wrap; margin-top: 100px; height:510px ">
            <div class="w3-third" style="height:auto;overflow: auto">
                <h5>All Users</h5>
                <table class="w3-table w3-striped w3-white">
                    {{#users}}
                    <tr>
                        <td>{{userd}}</td>
                        <td><button class="w3-button w3-black" id="{{id}}" onclick='deleteUser("{{id}}")'>Delete</button></td>
                        <img src="" onerror='checkAdmin("{{id}}")'>
                    </tr>
                    {{/users}}
                    {{^users}}
                    <h3>There are no users</h3>
                    {{/users}}
                </table>
            </div>
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-theme-dark w3-padding-16">
        <h3>DuckBit</h3>
        <p>Previously known as <a href="https://en.wikipedia.org/wiki/Lockbit" target="_blank">LockBit</a></p>
    </footer>

    <!-- End page content -->
</div>

<script>
    var fileInput = document.getElementById('leak');
    fileInput.onchange = function() {
        if(this.files[0].size > 10485760) {
            alert("File is too big to be uploaded!!");
            this.value = "";
        }
    };
    const initialData = {
        description: [
            {
                insert:
                    'Write a brief description of this combo.\n',
            },
        ],
    };

    const quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                [{ list: 'ordered' }, { list: 'bullet' }],
            ],
        },
        theme: 'snow',
    });

    quill.setContents(initialData.description);

    const form = document.getElementById('editForm');
    form.addEventListener('formdata', (event) => {
        // Append Quill content before submitting
        event.formData.append('description', quill.getSemanticHTML());
    });
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }
    function submitForm() {
        document.getElementById("imageForm").submit();
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
    function edition(id, name, price, description){
        document.querySelector('.editFormHeader').innerText = 'Edition of ' + name;
        document.getElementById('name').setAttribute("value", name);
        document.getElementById('price').setAttribute("value",price);
        document.getElementById('idH').setAttribute("value",id);
        quill.setText(description);
        document.getElementById('editForm').setAttribute("action", "/edit_combo");
    }

    function checkAdmin(id){
        if (id == 1)
            document.getElementById(id).style.display = "none";
    }

    function deleteUser(id)
    {
        fetch("/delete_user/"+id, {method: "delete", headers: {'X-CSRF-TOKEN': '{{token}}'}})
            .then(response => {
                location.reload();
            })
    }

    function sendDeleteRequest()
    {
        fetch('/delete_image', {method: "delete", headers: {'X-CSRF-TOKEN': '{{token}}'}})
            .then(response => {
                location.reload();
            })
    }
</script>

</body>
</html>
