<!DOCTYPE html>
<html>
<head>
    <title>{{username}} | DuckBit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/w3-theme-red.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-custom w3-large" style="z-index:1;">
    <div class="w3-bar-item w3-left">
        <div class="w3-col s4">
            <form id="imageForm" action="/upload_image" method="post" enctype="multipart/form-data">
                <label for="fileInput">
                    <img src="/download_image?username={{{username}}}" onerror="this.src='../images/admin.jpg'" class="w3-circle w3-margin-right" style="width:46px; cursor: pointer;" />
                </label>
                <input type='file' id='fileInput' name='image' accept=".jpg, .jpeg" style="display: none;" onchange="submitForm()" />
                <input type='hidden' name='username' value="{{{username}}}"/>
            </form>

        </div>
        <div class="w3-col s8 w3-bar">
            <span class="w3-white">Welcome, <strong>{{username}}</strong></span><br>
            <!--<a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>-->
        </div>
    </div>
    <div style="margin-top: 10px" class="w3-right">
        <a href="/user/shop"><img style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="../images/shop.svg"></a>
        <a href="/logout"><img style="width: 50px; margin-right: 5px" src="../images/logout.svg"></a>
    </div>
</div>

<!-- Sidebar/menu -->
<!--<nav class="w3-sidebar w3-collapse w3-custom w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">

    </div>
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    </div>
</nav>
-->

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
    </header>


    <div class="w3-panel w3-center">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div style="height:600px;overflow: auto">
                <h3>My Leaks</h3>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                        <td>ABC Corporation</td>
                        <td>15/03/2022</td>
                        <td><button class="w3-button w3-orange">Download</button></td>

                    </tr>
                    <tr>
                        <td>XYZ Ltd.</td>
                        <td>22/04/2022</td>
                        <td><button class="w3-button w3-orange">Download</button></td>

                    </tr>
                    <tr>
                        <td>QuickTech Solutions</td>
                        <td>10/06/2022</td>
                        <td><button class="w3-button w3-orange">Download</button></td>

                    </tr>
                    <tr>
                        <td>InnoSoft Innovations</td>
                        <td>05/08/2022</td>
                        <td><button class="w3-button w3-orange">Download</button></td>

                    </tr>
                    <tr>
                        <td>Global Innovations Inc.</td>
                        <td>20/09/2022</td>
                        <td><button class="w3-button w3-orange">Download</button></td>

                    </tr>
                    <tr>
                        <td>DataSprint Technologies</td>
                        <td>15/11/2022</td>
                        <td><button class="w3-button w3-orange">Download</button></td>

                    </tr>
                    <tr>
                        <td>NovaWare Solutions</td>
                        <td>03/01/2023</td>
                        <td><button class="w3-button w3-orange">Download</button></td>

                    </tr>
                    <tr>
                        <td>Eagle Systems</td>
                        <td>18/03/2023</td>
                        <td><button class="w3-button w3-orange">Download</button></td>
                    </tr>
                    <tr>
                        <td>Quantum Dynamics Ltd.</td>
                        <td>22/05/2023</td>
                        <td><button class="w3-button w3-orange">Download</button></td>
                    </tr>
                    <tr>
                        <td>TechVision Innovations</td>
                        <td>09/07/2023</td>
                        <td><button class="w3-button w3-orange">Download</button></td>
                    </tr>

                </table>
            </div>
        </div>
        <hr>
    </div>
        <!-- <div class="w3-container">
             <h5>General Stats</h5>
             <p>New Visitors</p>
             <div class="w3-grey">
                 <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
             </div>

             <p>New Users</p>
             <div class="w3-grey">
                 <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
             </div>

             <p>Bounce Rate</p>
             <div class="w3-grey">
                 <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
             </div>
         </div>
         <hr>

         <div class="w3-container">
             <h5>Countries</h5>
             <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                 <tr>
                     <td>United States</td>
                     <td>65%</td>
                 </tr>
                 <tr>
                     <td>UK</td>
                     <td>15.7%</td>
                 </tr>
                 <tr>
                     <td>Russia</td>
                     <td>5.6%</td>
                 </tr>
                 <tr>
                     <td>Spain</td>
                     <td>2.1%</td>
                 </tr>
                 <tr>
                     <td>India</td>
                     <td>1.9%</td>
                 </tr>
                 <tr>
                     <td>France</td>
                     <td>1.5%</td>
                 </tr>
             </table><br>
             <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
         </div>
         <hr>
         <div class="w3-container">
             <h5>Recent Users</h5>
             <ul class="w3-ul w3-card-4 w3-white">
                 <li class="w3-padding-16">
                     <img src="/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                     <span class="w3-xlarge">Mike</span><br>
                 </li>
                 <li class="w3-padding-16">
                     <img src="/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                     <span class="w3-xlarge">Jill</span><br>
                 </li>
                 <li class="w3-padding-16">
                     <img src="/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                     <span class="w3-xlarge">Jane</span><br>
                 </li>
             </ul>
         </div>
         <hr>


     -->
        <!-- Footer -->
        <footer class="w3-container w3-theme-dark w3-padding-16">
            <h3>DuckBit</h3>
            <p>Previously known as <a href="https://en.wikipedia.org/wiki/Lockbit" target="_blank">LockBit</a></p>
        </footer>
</div>
        <!-- End page content -->


    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }
        function submitForm() {
            document.getElementById("imageForm").submit();
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

</body>
</html>
