<!DOCTYPE html>
<html>
<head>
    <title>{{username}} | DuckBit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-red.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-custom w3-large" style="z-index:1;">
    <div class="w3-bar-item w3-left">
        <div class="w3-col s4">
            <form id="imageForm" action="/upload_image" method="post" enctype="multipart/form-data">
                <label for="fileInput">
                    <img src="/download_image?username={{username}}" onerror="this.src='/images/admin.jpg'" class="w3-circle w3-margin-right" style="width:46px; cursor: pointer;" />
                </label>
                <input type='file' id='fileInput' name='image' accept=".jpg, .jpeg" style="display: none;" onchange="submitForm()" />
                <input type='hidden' name='username' value="{{username}}"/>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

        </div>
        <div style="display: flex;align-items: center;flex-direction: row;flex-wrap: wrap" class="w3-col s8 w3-bar">
            <span style="width: 400px" class="w3-white">Welcome, <strong>{{username}}</strong> at [{{email}}]</span><br>
            <h4 style="width:160px;color:white;margin-bottom: 3px; margin-right: 5px">Credits: {{credits}}</h4>
        </div>
    </div>
    <div style="margin-top: 10px" class="w3-right">
        <a href="/shop"><img style="width: 45px; margin-bottom: 3px; margin-right: 5px" src="/images/shop.svg"></a>
        <a href="/logout"><img style="width: 50px; margin-right: 5px" src="/images/logout.svg"></a>
    </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
    </header>


    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-twothird" style="height:600px;overflow: auto">
                <h3>My Combos</h3>
                {{#combos}}
                <form action="/download_combo" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="idCombo" value="{{id}}">
                <table class="w3-table w3-striped w3-white">
                    <tr style="display: flex;align-items: center;justify-content: space-evenly">
                        <td style="width: 100px;">{{name}}</td>
                        <td>{{price}} $</td>
                        <td><input class="w3-button w3-orange" style="width: 300px; height: 50px" type="submit" value="Download"/></td>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </tr>
                </table>
                </form>
                {{/combos}}
                {{^combos}}
                <h4>You have no combos</h4>
                {{/combos}}
            </div>
            <div class="w3-third w3-center" style="height:400px;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;flex-direction: column">
                <h3>Buy Credits</h3>
                <form action="/add_credits" method="post" enctype="multipart/form-data">
                    <input class="w3-button w3-orange" style="width: 300px; height: 50px" type="submit" value="Buy" />
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </div>
        </div>
        <hr>
        <style>
            .button {
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              float: right;
              background-color: #cf2727;
            }
            </style>
            <button class="button" onclick="sendDeleteRequest()">Delete Image</button>
            <button class="button" onclick='sendDeleteUserRequest("{{id}}")'>Delete User</button>
    </div>
        <!-- Footer -->
        <footer class="w3-container w3-theme-dark w3-padding-16">
            <h3>DuckBit</h3>
            <p>Previously known as <a href="https://en.wikipedia.org/wiki/Lockbit" target="_blank">LockBit</a></p>
        </footer>
</div>
        <!-- End page content -->


    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }
        function submitForm() {
            document.getElementById("imageForm").submit();
        }

        function sendDeleteUserRequest(id){
            fetch('/delete_user/'+id, {method: 'DELETE'})
                .then(response => {
                    location.reload();
                })
        }

        function sendDeleteRequest()
        {
            fetch('/delete_image', {method: 'DELETE'})
                .then(response => {
                    location.reload();
                })
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

</body>
</html>
